.env
allGuilds.txt
allEmoji.txt
responses
responses.txt
guildLogs.txt
node_modules/.bin/ffmpeg
node_modules/.bin/ffmpeg.cmd
node_modules/.bin/ffmpeg.ps1
node_modules/.bin/ffprobe
node_modules/.bin/ffprobe.cmd
node_modules/.bin/ffprobe.ps1
node_modules/ffmpeg-binaries
*.txt
node_modules/@derhuerst/http-basic/lib/cache-control-utils.d.ts
node_modules/@derhuerst/http-basic/lib/cache-control-utils.js
node_modules/@derhuerst/http-basic/lib/cache-control-utils.js.flow
node_modules/@derhuerst/http-basic/lib/cache-utils.d.ts
node_modules/@derhuerst/http-basic/lib/cache-utils.js
node_modules/@derhuerst/http-basic/lib/cache-utils.js.flow
node_modules/@derhuerst/http-basic/lib/cache/07ef877ce2c490bdccfe11c041afbbbc3de982a0c71fc0dc87382f6b4f803c784ee0b8ebd64665fc1cf0dd2b67503450f9bd22b23f3855faaa190628a205d9d3.body
node_modules/@derhuerst/http-basic/lib/cache/07ef877ce2c490bdccfe11c041afbbbc3de982a0c71fc0dc87382f6b4f803c784ee0b8ebd64665fc1cf0dd2b67503450f9bd22b23f3855faaa190628a205d9d3.json
node_modules/@derhuerst/http-basic/lib/cache/5bbf6751cb97a9c7323e47dad707cba07d337fe10726613b2e081b64fd0c9c61bb73d9fe10e051e04d0e0033d08eab67e9aaac09a98bfeeedc8b7db384799caf.body
node_modules/@derhuerst/http-basic/lib/cache/5bbf6751cb97a9c7323e47dad707cba07d337fe10726613b2e081b64fd0c9c61bb73d9fe10e051e04d0e0033d08eab67e9aaac09a98bfeeedc8b7db384799caf.json
node_modules/@derhuerst/http-basic/lib/cache/fb4f5e7354ac0782c801c7803e20d3899b0e72a51ca3a1a80868c32401a0b1d6d581b6b622c0a2d24a18d4e4fadf9cd0da4a1257eaadd11342eaf3769bc0e845.body
node_modules/@derhuerst/http-basic/lib/cache/fb4f5e7354ac0782c801c7803e20d3899b0e72a51ca3a1a80868c32401a0b1d6d581b6b622c0a2d24a18d4e4fadf9cd0da4a1257eaadd11342eaf3769bc0e845.json
node_modules/@derhuerst/http-basic/lib/cache/static-key.body
node_modules/@derhuerst/http-basic/lib/cache/static-key.json
node_modules/@derhuerst/http-basic/lib/CachedResponse.d.ts
node_modules/@derhuerst/http-basic/lib/CachedResponse.js
node_modules/@derhuerst/http-basic/lib/CachedResponse.js.flow
node_modules/@derhuerst/http-basic/lib/Callback.d.ts
node_modules/@derhuerst/http-basic/lib/Callback.js
node_modules/@derhuerst/http-basic/lib/Callback.js.flow
node_modules/@derhuerst/http-basic/lib/FileCache.d.ts
node_modules/@derhuerst/http-basic/lib/FileCache.js
node_modules/@derhuerst/http-basic/lib/FileCache.js.flow
node_modules/@derhuerst/http-basic/lib/Headers.d.ts
node_modules/@derhuerst/http-basic/lib/Headers.js
node_modules/@derhuerst/http-basic/lib/Headers.js.flow
node_modules/@derhuerst/http-basic/lib/HttpVerb.d.ts
node_modules/@derhuerst/http-basic/lib/HttpVerb.js
node_modules/@derhuerst/http-basic/lib/HttpVerb.js.flow
node_modules/@derhuerst/http-basic/lib/ICache.d.ts
node_modules/@derhuerst/http-basic/lib/ICache.js
node_modules/@derhuerst/http-basic/lib/ICache.js.flow
node_modules/@derhuerst/http-basic/lib/index.d.ts
node_modules/@derhuerst/http-basic/lib/index.js
node_modules/@derhuerst/http-basic/lib/index.js.flow
node_modules/@derhuerst/http-basic/lib/MemoryCache.d.ts
node_modules/@derhuerst/http-basic/lib/MemoryCache.js
node_modules/@derhuerst/http-basic/lib/MemoryCache.js.flow
node_modules/@derhuerst/http-basic/lib/Options.d.ts
node_modules/@derhuerst/http-basic/lib/Options.js
node_modules/@derhuerst/http-basic/lib/Options.js.flow
node_modules/@derhuerst/http-basic/LICENSE
node_modules/@derhuerst/http-basic/node_modules/@types/node/assert.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/async_hooks.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/base.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/buffer.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/child_process.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/cluster.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/console.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/constants.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/crypto.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/dgram.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/dns.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/domain.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/events.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/fs.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/globals.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/http.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/http2.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/https.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/index.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/inspector.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/LICENSE
node_modules/@derhuerst/http-basic/node_modules/@types/node/module.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/net.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/os.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/package.json
node_modules/@derhuerst/http-basic/node_modules/@types/node/path.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/perf_hooks.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/process.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/punycode.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/querystring.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/readline.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/README.md
node_modules/@derhuerst/http-basic/node_modules/@types/node/repl.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/stream.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/string_decoder.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/timers.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/tls.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/trace_events.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/ts3.2/base.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/ts3.2/globals.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/ts3.2/index.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/ts3.2/util.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/ts3.7/assert.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/ts3.7/base.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/ts3.7/index.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/tty.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/url.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/util.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/v8.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/vm.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/worker_threads.d.ts
node_modules/@derhuerst/http-basic/node_modules/@types/node/zlib.d.ts
node_modules/@derhuerst/http-basic/node_modules/http-response-object/lib/headers.d.ts
node_modules/@derhuerst/http-basic/node_modules/http-response-object/lib/headers.js
node_modules/@derhuerst/http-basic/node_modules/http-response-object/lib/headers.js.flow
node_modules/@derhuerst/http-basic/node_modules/http-response-object/lib/index.d.ts
node_modules/@derhuerst/http-basic/node_modules/http-response-object/lib/index.js
node_modules/@derhuerst/http-basic/node_modules/http-response-object/lib/index.js.flow
node_modules/@derhuerst/http-basic/node_modules/http-response-object/LICENSE
node_modules/@derhuerst/http-basic/node_modules/http-response-object/package.json
node_modules/@derhuerst/http-basic/node_modules/http-response-object/README.md
node_modules/@derhuerst/http-basic/package.json
node_modules/@derhuerst/http-basic/README.md
node_modules/agent-base/dist/src/index.d.ts
node_modules/agent-base/dist/src/index.js
node_modules/agent-base/dist/src/index.js.map
node_modules/agent-base/dist/src/promisify.d.ts
node_modules/agent-base/dist/src/promisify.js
node_modules/agent-base/dist/src/promisify.js.map
node_modules/agent-base/node_modules/debug/CHANGELOG.md
node_modules/agent-base/node_modules/debug/dist/debug.js
node_modules/agent-base/node_modules/debug/LICENSE
node_modules/agent-base/node_modules/debug/package.json
node_modules/agent-base/node_modules/debug/README.md
node_modules/agent-base/node_modules/debug/src/browser.js
node_modules/agent-base/node_modules/debug/src/common.js
node_modules/agent-base/node_modules/debug/src/index.js
node_modules/agent-base/node_modules/debug/src/node.js
node_modules/agent-base/package.json
node_modules/agent-base/README.md
node_modules/agent-base/src/index.ts
node_modules/agent-base/src/promisify.ts
node_modules/env-paths/index.d.ts
node_modules/env-paths/index.js
node_modules/env-paths/license
node_modules/env-paths/package.json
node_modules/env-paths/readme.md
node_modules/ffmpeg-static/example.js
node_modules/ffmpeg-static/ffmpeg.exe
node_modules/ffmpeg-static/ffmpeg.exe.LICENSE
node_modules/ffmpeg-static/ffmpeg.exe.README
node_modules/ffmpeg-static/index.js
node_modules/ffmpeg-static/install.js
node_modules/ffmpeg-static/LICENSE
node_modules/ffmpeg-static/package.json
node_modules/ffmpeg-static/README.md
node_modules/https-proxy-agent/dist/agent.d.ts
node_modules/https-proxy-agent/dist/agent.js
node_modules/https-proxy-agent/dist/agent.js.map
node_modules/https-proxy-agent/dist/index.d.ts
node_modules/https-proxy-agent/dist/index.js
node_modules/https-proxy-agent/dist/index.js.map
node_modules/https-proxy-agent/dist/parse-proxy-response.d.ts
node_modules/https-proxy-agent/dist/parse-proxy-response.js
node_modules/https-proxy-agent/dist/parse-proxy-response.js.map
node_modules/https-proxy-agent/node_modules/debug/CHANGELOG.md
node_modules/https-proxy-agent/node_modules/debug/dist/debug.js
node_modules/https-proxy-agent/node_modules/debug/LICENSE
node_modules/https-proxy-agent/node_modules/debug/package.json
node_modules/https-proxy-agent/node_modules/debug/README.md
node_modules/https-proxy-agent/node_modules/debug/src/browser.js
node_modules/https-proxy-agent/node_modules/debug/src/common.js
node_modules/https-proxy-agent/node_modules/debug/src/index.js
node_modules/https-proxy-agent/node_modules/debug/src/node.js
node_modules/https-proxy-agent/package.json
node_modules/https-proxy-agent/README.md
node_modules/parse-cache-control/.npmignore
node_modules/parse-cache-control/index.js
node_modules/parse-cache-control/LICENSE
node_modules/parse-cache-control/package.json
node_modules/parse-cache-control/README.md
node_modules/parse-cache-control/test.js
node_modules/progress/CHANGELOG.md
node_modules/progress/index.js
node_modules/progress/lib/node-progress.js
node_modules/progress/LICENSE
node_modules/progress/Makefile
node_modules/progress/package.json
node_modules/progress/Readme.md
